body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 3vh;
}

nav a:hover {
    background-color: #6d6d6d;
    font-weight: bolder;
}
.home{
    text-align: center;

}
.flex-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.flex-item {
    width: 25%;
    margin: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.home p{
    font-size: 1.5em;
    color: #666;
    margin-bottom: 10px;

}

.flex-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;;
}

.flex-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.flex-item p {
    font-size: 1em;
    color: #666;
}

footer {
    margin-top: 100px;
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    padding: 15px 20px;
}